
@media screen and (max-width: 991px) {
  
  .container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-areas:
      "i1 i1 i2"
      "i4 i5 i5"
      "i3 i3 i3";
    gap: 10px;
  }
}
@media screen and (max-width: 778px) {
  .container {
    display: grid;
    grid-template: auto / 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "i3"
      "i4"
      "i5";
    gap: 10px;
  }
}
